{% extends "base/pages/index.html" %}
{% block Jumbotron %}
    <h1> Glovic DB </h1>
    <p>
        指定されたサイトから情報をクローリングしてきます.
        クローリングされた情報は RDB に保存されます.
        保存された情報を検索することも可能です.
    </p>
    <a href="{%url 'tergetCreate'%}" class="btn btn-primary btn-lg" role="button">URL 設定 &raquo;</a>
{% endblock %}

{% block sections %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <h2>ドメイン対象</h2>
            <p>クローリング対象となっているサイトの一覧</p>
            <p>
                <a class="btn btn-default" href="{%url 'domeinList'%}" role="button">
                  View details &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>クローリング対象</h2>
            <p>クローリング対象となっている RSS の一覧</p>
            <p>
                <a class="btn btn-default" href="{%url 'tergetList'%}" role="button">
                  View details &raquo;
                </a>
            </p>
       </div>
        <div class="col-md-4">
            <h2>記事一覧</h2>
            <p>クローリングの結果取得したデータ一覧</p>
            <p>
                <a class="btn btn-default" href="{%url 'articleList'%}" role="button">
                  View details &raquo;
                </a>
            </p>
        </div>
      </div>
{% endblock %}
